<!-- views/index.ejs -->
<!DOCTYPE ejs>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDExplorer</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <img src="/gdlogo.png" alt="Geometry Dash Logo" class="logo">
        <img src="/gdlvlb.png" alt="Geometry Dash Level Browser" class="level-browser">

        <!-- Search Buttons (Search and Search Level) -->
        <div class="search-buttons">
            <!-- Search button -->
            <a href="/search">
                <img src="/search.png" alt="Search" class="search-button">
            </a>
            <!-- New Search Level button -->
            <a href="/level">
                <img src="/searchlevel.png" alt="Search Level" class="search-button">
            </a>
        </div>

        <!-- Additional Information at the bottom -->
        <div class="info-text">
            <p>Every functionality of this website uses the <strong>GDBrowser API</strong>. Thanks <a href="https://gdcolon.com" target="_blank" rel="noopener noreferrer">Colon</a>! (sorry I also used web archive to learn your API!! do not sue me!!!)</p>
            <p>All assets were also chipped from GDBrowser, oops, sorry <a href="https://gdcolon.com" target="_blank" rel="noopener noreferrer">Colon</a>!! Plz don't sue me!!</p>
            <p>Also, if the website stops working, Colon probably removed this API, and this site will never work again since I'm lazy to learn RobTop server responses!! &lt;3</p>
            <p>Colon please don't remove your API!! I love it!! &lt;333333</p>
        </div>
    </div>
    <!-- Your footer goes here -->
</body>
</html>
