<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDExplorer</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Discord Embed Metadata -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gde-xplorer.vercel.app">
    <meta property="og:title" content="GDExplorer">
    <meta property="og:description" content="Welcome to GDExplorer! A Geometry Dash Explorer, where you can view levels and more! (adding more features lol) by kkrongg!! <3">
    <meta property="og:image" content="/favicon.ico">
    <meta property="og:site_name" content="GDExplorer">
    
    <!-- Twitter Card (also works well in Discord) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="GDExplorer">
    <meta name="twitter:description" content="Welcome to GDExplorer! A Geometry Dash Explorer, where you can view levels and more! (adding more features lol) by kkrongg!! <3">
    <meta name="twitter:image" content="/favicon.ico">
</head>
<body>
    <div class="container">
        <img src="/gdlogo.png" alt="Geometry Dash Logo" class="logo">
        <img src="/gdlvlb.png" alt="Geometry Dash Level Browser" class="level-browser">
        
        <!-- Information Message Under Images -->
        <div class="info-message">
            <p>Level downloading has been blocked by RobToppoPookie, so most features, like daily levels and weekly, will not work. Thanks for the info, Colon!</p>
        </div>

        <!-- Search Buttons (Search, Search Level, Leaderboard, User Search, Post) -->
        <div class="search-buttons">
            <!-- Search button -->
            <a href="/search">
                <img src="/search.png" alt="Search" class="search-button">
            </a>
            <!-- Search Level button -->
            <a href="/level">
                <img src="/searchlevel.png" alt="Search Level" class="search-button">
            </a>
            <!-- Leaderboard button -->
            <a href="/scores">
                <img src="/lb.png" alt="Leaderboard" class="search-button">
            </a>
            <!-- User Search button -->
            <a href="/users">
                <img src="/usersearch.png" alt="User Search" class="search-button">
            </a>
            <!-- Post button (new button) -->
            <a href="/posts">
                <img src="/post.png" alt="Post" class="search-button">
            </a>

                        <!-- Level Leaderboard button (new button) -->
            <a href="/levellb">
                <img src="/levellb.png" alt="Level Leaderboard" class="search-button">
            </a>
        </div>

        <!-- Additional Information at the bottom -->
        <div class="info-text">
            <p>Every functionality of this website uses the <strong>GDBrowser API</strong>. Thanks <a href="https://gdcolon.com" target="_blank" rel="noopener noreferrer">Colon</a>! (sorry I also used web archive to learn your API!! do not sue me!!!)</p>
            <p>All assets were also chipped from GDBrowser, oops, sorry <a href="https://gdcolon.com" target="_blank" rel="noopener noreferrer">Colon</a>!! Plz don't sue me!!</p>
            <p>Also, if the website stops working, Colon probably removed this API, and this site will never work again since I'm lazy to learn RobTop server responses!! &lt;3 Also, if the API is slow, but works, gdbrowser.com might be slow.</p>
            <p>Colon please don't remove your API!! I love it!! &lt;333333</p>
            <p>More features are being added!!! Watch out for those!!</p>
            <p>visit this page, why not? <a href="/thxcolon">page</a></p>
        </div>
    </div>
    <!-- Your footer goes here -->
</body>
</html>
